<html>
  <head>
    <style>
      body {
        font-family: sans-serif;
        padding: 50px;
        font-size: 1.2em;
      }
      a {
        color: #00B7FF;
      }
    </style>
  </head>
  <body>
    <h1>
      Your <a href="<%- viewUrl %>">ICE card</a> has been made!</a>
    </h1>

    <p>
      <a href="<%- printUrl %>">Print another copy</a>.
    </p>

  </body>
</html>

