<%#
 Locals:
  button = the text on the button
  text = the text below the form
 Renders:
  A form with a password field that posts to itself
%>
<!DOCTYPE html>
<html>
  <head>
    <% var title = button %>
    <% include head.ejs %>
  </head>
  <body>
    <p>
      <h1><%- button %></h1>
    </p>
    <div class="wrap">
      <form method="post" action="">
        <input id="password" name="password" type="password" placeholder="Password" />
        <input type="submit" value="<%- button %>" />
      </form>
      <p>
        <%- text %>
      </p>
    </div>
  </body>
</html>

