<!DOCTYPE html>
<html>
  <head>
    <% var title = "Revoke the escrow process" %>
    <% include head.ejs %>
  </head>
  <body>
    <p>
      <h1><%- title %></h1>
    </p>
    <div class="wrap">
      <% if (!cannotAdd) { %>
        <form method="post" action="">
          <input id="password" name="password" type="password" placeholder="Enter your password to confirm" />
          <input type="submit" value="Prevent escrow" />
        </form>
        <p>
          By filling in the above you are <b>preventing</b> escrow from ever
          being completed on your card.
        </p>
        <p>
          <a href="<%- url %>/complete-escrow">Wait, I <b>do</b> want to escrow this card</a>
        </p>
        <p>
          Escrow allows you to
        </p>
        <ul>
          <li>Recover your password if lost</li>
          <li>Make shared contingency plans</li>
          <li>Please someone other than me write this copy</li>
          <li>More</li>
        </ul>
      <% } else { %>
        <p>
          You've already revoked escrow abilities, you're all good.
        <p>
        <p>
          If you do want to escrow now, you can only
          <a href="<%- newCardUrl %>">create a new card</a>
          with the same public data.
        </p>
      <% } %>
    </div>
  </body>
</html>
