<!DOCTYPE html>
<html>
  <head>
    <% include head.ejs %>
  </head>
  <body>
    <h1><%- title %></h1>
    <%
      function nest(o) {
        %><ul><%
        for (var key in o) {
          var val = o[key];
          if (typeof(o) == typeof({})) {
            nest(val);
          }
          else {
            %><li><%- key %><br /><%- val %></li><%
          }
        }
        %></ul><%
      }
      nest(data);
    %>
  </body>
</html>
