<%
  function key_ul(key, end) {
    if (!end) {
      %><ul><%- key %><br /><%
    } else {
      %></ul><%
    }
  }
  function val_ul(val, end) {
    if (!end) {
      %><li><%- val %><%
    } else {
      %></li><%
    }
  }
  function nest(o, key_f=key_ul, val_f=val_ul) {
    for (var key in o) {
      key_f(key);
      var val = o[key];
      if (typeof(val) == typeof({})) {
        nest(val);
      }
      else {
        val_f(val);
        val_f(null, true) // End
      }
      key_f(null, true); // End
    }
  }
  nest(data);
%>

