body {
  padding: 50px;
  font-family: sans-serif;
}

a {
  color: #00B7FF;
}


.flash li {
  list-style-type: none;
  padding: 10px;
  color: #009b48;
  font-size: 1.3em;
}
.error {
  color: #ff466e !important;
}

.card, .wrap {
  max-width: 500px;
}

.card h2:first-letter {
  font-size: 1.7em;
}

input, textarea {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  width: 100%;
}
input[type="checkbox"], .card input[type="checkbox"] {
  width: initial;
}

.search-result {
  background-color: #c2dae4;
  padding: 1em;
}

.card input {
  box-sizing: border-box;
  /* Doesn't support calc */
  width: 45%;
  margin: 5px 2%;
  /* Supports calc */
  width: calc(50% - 43px);
  margin: 10px calc(20px);
}
.clear-group {
  position: relative;
  left: 515px;
  bottom: 65px;
}

.card input[type="submit"] {
  /* Doesn't support calc */
  width: 95%;
  margin: 5px 2%;
  /* Supports calc */
  width: calc(95% - 20px);
  margin: 5px calc(10px);
}

.clear {
  clear: both;
}

.print-card {
  width: 3.5in;
  height: 5in;
  border: 1px dotted black;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.print-card, .print-card * {
  margin: 0;
  padding: 0;
}
.front .col-left {
  float: left;
  width: 45%;
}
.front .col-right {
  float: right;
  width: 55%;
  height: 170px;
}
.front .col-right img {
  height: 100%;
  float: right;
}
.front {
  height: 2.5in;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px dashed black;
}
.front h2 {
  font-size: 20px;
}
.back {
  width: 3.5in;
  /* Don't specify height, even though we should, because Firefox has a bug
   * that incorrectly calculates height on PRINT media */
  padding: 5px;
  box-sizing: border-box;
  column-count: 2;
  overflow: hidden;
  transform: rotate(180deg);
}
.back h2 {
  margin-top: 0.2em;
}

#print-button-container {
  /* Only seen if javascript is enabled */
  display: none;
}
#print-button {
  font-size: 1.7em;
}

@media screen and (max-width: 500px) {
  body {
    padding: 10px;
  }
  .card input {
    /* Doesn't support calc */
    width: 95%;
    margin: 5px 2%;
    /* Supports calc */
    width: calc(95% - 20px);
    margin: 5px calc(10px);
  }
}
@media screen and (max-width: 615px) {
  .clear-group {
    display: block;
    position: static;
    margin: 10px 25px;
  }
}

